<header class="bg-blue-400 py-3 shadow-md">
    <div class="container mx-auto">
        <div class="grid grid-cols-6 grid-rows-1 gap-4">
            <div class="py-2 text-center font-bold text-white"><span class="cursor-pointer"><a href="/">MySite</a></span></div>
            <div class="menu col-start-2 col-span-4">
                <ul class="menu-ul flex justify-center">
                    <li class="py-2 px-5 text-gray-100 font-medium hover:bg-blue-100 hover:text-blue-400 cursor-pointer transition duration-600 ease-in-out rounded"><a href="/">Home</a></li>
                    <li class="py-2 px-5 text-gray-100 font-medium hover:bg-blue-100 hover:text-blue-400 cursor-pointer transition duration-600 ease-in-out rounded"><a href="#">Two</a></li>
                    <li class="py-2 px-5 text-gray-100 font-medium hover:bg-blue-100 hover:text-blue-400 cursor-pointer transition duration-600 ease-in-out rounded"><a href="#">Three</a></li>
                    <li class="py-2 px-5 text-gray-100 font-medium hover:bg-blue-100 hover:text-blue-400 cursor-pointer transition duration-600 ease-in-out rounded"><a href="#">Four</a></li>
                  </ul>
            </div>
            <div class="flex justify-end">
                <button class="p-2 mx-2 bg-blue-300 rounded shadow-md hover:bg-blue-200 transition duration-900 ease-in-out hover:shadow-xl text-gray-700 font-medium"><a href="/login">Login</a></button>
                <button class="p-2 mx-2 bg-blue-300 rounded shadow-md hover:bg-blue-200 transition duration-900 ease-in-out hover:shadow-xl text-gray-700 font-medium"><a href="/signup">Sign up</a></button>
            </div>
        </div>
        
    </div>
</header>