<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>

<section class="login pb-6">
    <div class="container mx-auto">
        <h2 class="text-center mt-9 font-semibold">Login to your account</h2>
        <form action="" class="border-t border-indgo-600 xl:w-1/2 m-auto mt-5 pt-3 flex flex-col">
            <div class="login-facebook m-auto w-1/2"><button class="w-full bg-blue-800 text-gray-100 p-3 my-1 border-2 border-indgo-600 shadow-md font-semibold hover:bg-blue-700 transition duration-600 ease-in-out">Continue with Facebook</button></div>
            <div class="login-google m-auto w-1/2"><button class="w-full p-3 my-1 border-2 border-indgo-600 shadow-md font-semibold hover:text-red-500 transition duration-600 ease-in-out">Continue with Google</button></div>
            <div class="login-apple m-auto w-1/2"><button class="w-full p-3 my-1 border-2 border-indgo-600 shadow-md font-semibold hover:text-blue-500 transition duration-600 ease-in-out">Continue with Apple</button></div>
            <input type="text" placeholder="Email" class="m-auto w-1/2  p-3 my-1 border-2 border-indgo-600 shadow-sm font-normal">
            <input type="password" placeholder="Password" class="m-auto w-1/2  p-3 my-1 border-2 border-indgo-600 shadow-sm font-normal">
            <button  class="m-auto w-1/2  p-3 my-1 border-2 border-indgo-600 shadow-sm font-bold bg-green-400 text-gray-100 hover:bg-green-500">Log In</button> 
        </form>
        <p class="text-center mt-3 mb-4">or <a class="text-blue-700 cursor-pointer">Forgot Password</a></p>
        <h3 class="text-center">Don't have an account? <a href="/signup" class="text-blue-700 font-bold cursor-pointer">Sign up</a></h3>
    </div>
</section>
<%- include('includes/footer.ejs') %>